<header id="header" class="header">
    <div class="container">
        <div class="branding">
            <h1 class="logo">
                <a href="/bin">
                    <span aria-hidden="true" class="icon_documents_alt icon"></span>
                    <span class="text-highlight">Stratosphere</span><span class="text-bold">Quality</span>
                </a>
            </h1>
        </div><!--//branding-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <!-- <li class="breadcrumb-item active">Components</li> -->
        </ol>
        <div class="top-search-box">
          <form class="form-inline search-form justify-content-center" action="" method="get">
            <input type="text" placeholder="Search..." name="search" class="form-control search-input">
            <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>
          </form>
        </div>
    </div><!--//container-->
</header><!--//header-->