<h2 class="section-title">Dashboards</h2>
<div class="section-block">
    <p>Welcome! The screenshots used in this page are taken from <a href="https://themes.3rdwavemedia.com/bootstrap-templates/product/appify-bootstrap-4-admin-template-for-app-developers/" target="_blank">Appify</a>. Appify is a Bootstrap 4 admin template made for app developers.</p>
    <ul class="list list-inline">
        <li class="list-inline-item"><a class="btn btn-cta btn-pink" href="https://themes.3rdwavemedia.com/bootstrap-templates/product/appify-bootstrap-4-admin-template-for-app-developers/" target="_blank"><i class="fas fa-external-link-alt"></i> Appify Details</a></li>
        <li class="list-inline-item"><a class="btn btn-cta btn-primary" href="https://themes.3rdwavemedia.com/bootstrap-templates/product/appify-bootstrap-4-admin-template-for-app-developers/" target="_blank"><i class="fas fa-eye"></i> Appify Demo</a></li>
    </ul>
</div><!--//section-block-->
<div class="section-block">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-sm-12">
            <h6>Use Case 1</h6>
            <p>Project management</p>
            <div class="screenshot-holder">
                <a href="assets/images/demo/appify-dashboard-1.jpg" data-title="Dashboard - Project Management" data-toggle="lightbox"><img class="img-fluid" src="assets/images/demo/appify-dashboard-1-thumb.jpg" alt="screenshot" /></a>
                <a class="mask" href="assets/images/demo/appify-dashboard-1.jpg" data-title="Dashboard - Project Management" data-toggle="lightbox"><i class="icon fa fa-search-plus"></i></a>
            </div> 
        </div>
         <div class="col-md-6 col-sm-12 col-sm-12">
            <h6>Use Case 2</h6>
            <p>Web analytics</p>
            <div class="screenshot-holder">
                <a href="assets/images/demo/appify-dashboard-2.jpg" data-title="Dashboard - Web Analytics" data-toggle="lightbox"><img class="img-fluid" src="assets/images/demo/appify-dashboard-2-thumb.jpg" alt="screenshot" /></a>
                <a class="mask" href="assets/images/demo/appify-dashboard-2.jpg" data-title="Dashboard - Web Analytics" data-toggle="lightbox"><i class="icon fa fa-search-plus"></i></a>
            </div> 
        </div>
        <div class="clearfix"></div>
         <div class="col-md-6 col-sm-12 col-sm-12">
            <h6>Use Case 3</h6>
            <p>Health/Fitness app</p>
            <div class="screenshot-holder">
                <a href="assets/images/demo/appify-dashboard-3.jpg" data-title="Dashboard - Health/Fitness" data-toggle="lightbox"><img class="img-fluid" src="assets/images/demo/appify-dashboard-3-thumb.jpg" alt="screenshot" /></a>
                <a class="mask" href="assets/images/demo/appify-dashboard-3.jpg" data-title="Dashboard - Health/Fitness" data-toggle="lightbox"><i class="icon fa fa-search-plus"></i></a>
            </div> 
        </div>
         <div class="col-md-6 col-sm-12 col-sm-12">
            <h6>Use Case 4</h6>
            <p>Web hosting</p>
            <div class="screenshot-holder">
                <a href="assets/images/demo/appify-dashboard-4.jpg" data-title="Dashboard - Web Hosting" data-toggle="lightbox"><img class="img-fluid" src="assets/images/demo/appify-dashboard-4-thumb.jpg" alt="screenshot" /></a>
                <a class="mask" href="assets/images/demo/appify-dashboard-4.jpg" data-title="Dashboard - Web Hosting" data-toggle="lightbox"><i class="icon fa fa-search-plus"></i></a>
            </div> 
        </div>
    </div><!--//row-->
    <div class="callout-block callout-info">
        <div class="icon-holder">
            <i class="fas fa-bullhorn"></i>
        </div><!--//icon-holder-->
        <div class="content">
            <h4 class="callout-title">Lightbox Example</h4>
            <p>Click the screenshot images to trigger the image modal.</p>
        </div><!--//content-->
    </div><!--//callout-->
</div><!--//section-block-->
